<!DOCTYPE html>
<html>
<head>
    <title>learn-node-demo</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div>欢迎来到strong 的学习小天地，下面是我写的一些小demo。</div>
  <div class="learn-item">
    <a href="http://localhost:9527/weather">天气预报</a>
    <div>
      所用知识：koa框架以及中间件的使用。对于koa以及ejs模板渲染有一个基本的了解。
    </div>
  </div>
</body>
</html>