<!DOCTYPE html>
<html>
<head>
    <title>learn-node-demo</title>
</head>
<body>
  <button onclick="upload()">上传图片</button>
</body>
<script>
  function upload() {
    
  }
</script>
<script src="http://localhost:9527/jsonp/api?callback=callback"></script>
</html>